@model IEnumerable<PcWord.Models.Mouse>

<h2>Myszki</h2>

<p>
    <a asp-action="Create">Dodaj nową pozycję</a>
</p>

<form asp-action="Index">
    <div class="form-group">
        <label for="searchTerm">Szukaj po nazwie:</label>
        <input type="text" id="searchTerm" name="searchTerm" value="@ViewData["CurrentFilter"]" />
        <input type="submit" value="Szukaj" />
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Nazwa", "Index", new { sortOrder = ViewData["NameSort"] == "Name" ? "Name_desc" : "Name" })
            </th>
            <th>
                @Html.ActionLink("Opis", "Index", new { sortOrder = ViewData["DescriptionSort"] == "Description" ? "Description_desc" : "Description" })
            </th>
            <th>
                @Html.ActionLink("Kategoria", "Index", new { sortOrder = ViewData["CategorySort"] == "Category" ? "Category_desc" : "Category" })
            </th>
            <th>
                @Html.ActionLink("Cena", "Index", new { sortOrder = ViewData["PriceSort"] == "Price" ? "Price_desc" : "Price" })
            </th>
            <th>
                Średnia ocena
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @if (item.Ratings.Count() > 0)
                    {
                        @(item.Ratings.Average(r => r.Value))
                    }
                    else
                    {
                        Brak ocen
                    }
                </td>
                <td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a asp-action="Rate" asp-route-id="@item.Id">Oceń</a>
 |
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">Szczegóły i komentarze</a>
                </td>
            </tr>
        }
    </tbody>
</table>
