@model IEnumerable<PcWorld.Models.Myszki>

<h2>Myszki</h2>
<p>
    <a href="@Url.Action("Create", "Myszki")">Dodaj nową pozycję</a>
</p>
<form action="">
    <div class="form-group">
        <label for="search">Wyszukaj pozycję:</label>
        <input type="text" id="search" name="search" value="@ViewBag.CurrentFilter" />
        <input type="submit" value="Szukaj" />
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a href="@Url.Action("Index", "Myszki", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter})">Nazwa</a>
            </th>
            <th>Opis</th>
            <th>
                <a href="@Url.Action("Index", "Myszki", new { sortOrder = ViewBag.CategorySortParm, currentFilter = ViewBag.CurrentFilter})">Kategoria</a>
            </th>
            <th>
                <a href="@Url.Action("Index", "Myszki", new { sortOrder = ViewBag.PriceSortParm, currentFilter = ViewBag.CurrentFilter})">Cena</a>
            </th>
            <th>
                <a href="@Url.Action("Index", "Myszki", new { sortOrder = ViewBag.RatingSortParm, currentFilter = ViewBag.CurrentFilter})">Średnia ocena</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Nazwa)</td>
                <td>@Html.DisplayFor(modelItem => item.Opis)</td>
                <td>@Html.DisplayFor(modelItem => item.Kategoria.Nazwa)</td>
                <td>@Html.DisplayFor(modelItem => item.Cena)</td>
                <td>@Html.DisplayFor(modelItem => item.Oceny.Average(ocena => ocena.Wartość))</td>
                <td>
                    <a href="@Url.Action("Details", "Myszki", new { id = item.Id})">Szczegóły i komentarze</a>
                </td>
            </tr>
        }
    </tbody>
</table>