@model PcWorld.Models.Keyboard
<h2>Szczegóły i komentarze dla klawiatury @Model.Name</h2>
<div>
    <h4>Name:</h4>
    <p>@Model.Name</p>
</div>
<div>
    <h4>Description:</h4>
    <p>@Model.Description</p>
</div>
<div>
    <h4>Category:</h4>
    <p>@Model.Category</p>
</div>
<div>
    <h4>Price:</h4>
    <p>@Model.Price</p>
</div>
<div>
    <h4>Średnia ocena użytkowników:</h4>
    <p>@Model.Rating</p>
</div>
@if (User.Identity.IsAuthenticated)
{
    <div>
        <h4>Dodaj komentarz:</h4>
        <form method="post">
    <textarea name="text"></textarea>
            <input type="submit" value="Dodaj" />
        </form>
    </div>
}

<h4>Lista komentarzy:</h4>
<ul>
    @foreach (var comment in Model.Komentarze)
    {
        <li>@comment.Tekst</li>
    }
</ul>