@model PcWorld.Models.Zestawy

<h2>Szczegóły i komentarze</h2>
<div class="row">
    <div class="col-md-6">
        <table class="table">
            <tr>
                <th>Name</th>
                <td>@Model.Name</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>@Model.Description</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>@Model.Category</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>@Model.Price</td>
            </tr>
            <tr>
                <th>Ocena</th>
                <td>@Model.Ocena</td>
            </tr>
            <tr>
                <th>Klawiatura</th>
                <td>@Model.Klawiatura.Name</td>
            </tr>
            <tr>
                <th>Myszka</th>
                <td>@Model.Myszka.Name</td>
            </tr>
        </table>
    </div>
</div>
@if (User.Identity.IsAuthenticated)
{
    <h3>Dodaj komentarz</h3>
    using (Html.BeginForm("AddComment", "Zestawy", FormMethod.Post))
    {
        <div class="form-group">
            @Html.LabelFor(model => model.Komentarz, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Komentarz, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <button type="submit" class="btn btn-primary">Dodaj</button>
    }
}